.rossPost {
    flex: 9;
}

.rossPostWrapper {
    padding: 1.7rem;
    padding-right: 0;
}

.rossPostImg {
    width: 100%;
    height: 350px;
    border-radius: .3rem;
    object-fit: cover;
}

.rossPostTitle {
    text-align: center;
    margin: 1rem;
    font-family: 'Caveat', cursive;
    font-size: 2.1rem;
}

.rossPostEdit {
    float: right;
    font-size: 2.2rem;
}

.rossPostIcon {
    margin-left: .7rem;
    cursor: pointer;
}

.rossPostIcon:first-child {
    color: rgb(250, 155, 12)
}

.rossPostIcon:last-child {
    color: crimson
}

.rossPostInfo {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    font-family: 'Kaushan Script', cursive;
    color: rgb(216, 15, 109);
}

.rossPostDescript {
    font-size: 1.2rem;
    line-height: 2rem;
}

.rossPostDescript::first-letter {
    margin-left: 1.3rem;
    font-size: 2rem;
    font-weight: bold;
}

.musicLink {
    display: flex;
    justify-content: center;
    padding: 1.3rem;
    margin-bottom: 2.3rem;
}