.champagne {
    width: 385px;
    margin: 0px 25px 40px 25px;
}

.champagneImg {
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 16px;
}

.champagneInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.champagneSect {
    font-family: 'Merienda', cursive;
    font-family: 'Viaoda Libre', cursive; 
    font-size: .8rem;
    color: crimson;
    font-weight: bolder;
    margin-top: 15px;
    margin-right: 10px;
    line-height: 2rem;
    cursor: pointer;
}

.champagneTitle {
    font-family: 'Cinzel', serif;
    font-size: 1.6rem;
    font-weight: 700;
    margin-top: .9rem;
    cursor: pointer;
}

.champagneDate {
    font-family: 'Viaoda Libre', cursive;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 1rem;
}

.champagneDescript {
    font-family: 'Philosopher', sans-serif;
    font-size: .9rem;
    line-height: 24px;
    margin-top: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}