.header {
    margin-top: 60px;
}

.headerTitles {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lobster Two', cursive;
    color: rgb(218, 8, 123);
}

.headerTitleSm {
    position: absolute;
    top: 18%;
    font-size: 1.3rem;
}

.headerTitleLg {
    position: absolute;
    top: 20%;
    font-size: 3.2rem;
}

.headerImg {
    width: 100%;
    height: 400px;
    margin-top: 83px;
    object-fit: cover;
}

